@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4px;
}

.inputform{
  @apply border w-full border-gray-900 rounded-md p-3 placeholder:p-3
}

.footerSocialIcons{
  @apply hover:bg-slate-100 hover:rounded-full hover:text-primary w-8 cursor-pointer h-8 p-2 mx-1
}